<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <% if user_signed_in? %>
        <a class="navbar-brand btn btn-header" id="menu-toggle">
          <%= fa_icon "align-left" %>
        </a>
      <% end %>
      <%= link_to "Project Management", root_path, class: "navbar-brand" %>
    </div>
    <div>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            Settings
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
          <% if user_signed_in? %>
            <li>
              <%= link_to 'Profile', user_path(current_user) %>
            </li>
            <li>
              <%= link_to 'Edit profile', edit_user_registration_path %>
            </li>
            <li>
              <%= link_to "Logout", destroy_user_session_path, method: :delete %>
            </li>
          <% else %>
            <li>
              <%= link_to "Sign up", new_user_registration_path %>
            </li>
            <li>
              <%= link_to "Login", new_user_session_path %>
            </li>
          <% end %>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
