<div id="sidebar-wrapper">
  <nav id="spy">
    <ul class="sidebar-nav nav">
      <li class="sidebar-brand <%= active_class(root_path) %>">
        <%= link_to root_path do %>
            <%= fa_icon "line-chart" %> Dashboard
        <% end %>
      </li>
      <li class="<%= active_class(users_path) %>">
        <%= link_to users_path do %>
            <%= fa_icon "users" %> Users
        <% end %>
      </li>
      <li class="<%= active_class(clients_path) %>">
        <%= link_to clients_path do %>
            <%= fa_icon "address-card" %> Clients
        <% end %>
      </li>
      <li class="<%= active_class(projects_path) %>">
        <%= link_to projects_path do %>
            <%= fa_icon "list-alt" %> Projects
        <% end %>
      </li>
    </ul>
  </nav>
</div>
