<%= form_for @client do |f| %>
  <% if @client.errors.any? %>
      <div class="error_messages">
        <h4>Please correct the following errors.</h4>
        <ul>
          <% @client.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
  <% end %>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, autofocus: true, autocomplete: "name", required: true, class: "input form-control" %>
      </div>
    </div>

    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :description %>
        <%= f.text_area :description, autofocus: true, autocomplete: "email", required: true, class: "input form-control" %>
      </div>
    </div>
  </div>

  <div class="row">
    <h3 class="text-center">Projects</h3>
    <div class="col-md-12">
      <div id='projects'>
        <%= f.fields_for :projects do |project| %>
          <%= render 'project_fields', f: project %>
        <% end %>
        <div class='links text-right'>
          <%= link_to_add_association(fa_icon('plus', text: 'Add Project'), f, :projects, class: 'btn btn-info') %>
        </div>
      </div>
    </div>
  </div>

  <div class="actions text-center">
    <%= f.submit check_action_tag, class: "btn btn-success" %>
    <%= link_to "Back", :back, class: "btn btn-info" %>
  </div>
<% end %>
