<div class="container">
  <div class="row padding-top">
    <div class="col-md-6">
      <%= column_chart @total_monthly_earning,
        title: "Top Five Projects (By Monthly Earning For #{(Time.now).strftime("%B %Y")})",
        prefix: "$",
        label: "Payment",
        colors: ['brown']
      %>
    </div>
    <div class="col-md-6">
      <%= column_chart @total_monthly_hours,
        title: "Top Five Projects (By Logged Hours For #{(Time.now).strftime("%B %Y")})",
        label: "Hours",
        colors: ['brown']
      %>
    </div>
  </div>
  <div class="row padding-top">
    <div class="col-md-6">
      <h4>Top 5 Earning Projects</h4>
      <table class="table table-bordered table-hover">
        <thead class="thead-dark">
          <tr>
            <th>Name</th>
            <th>Hours Logged</th>
            <th>Total Earning</th>
          </tr>
        </thead>
        <tbody>
          <% @top_five.each do |project| %>
            <tr>
              <td><%= link_to project.name, project %></td>
              <td><%= project.total_logged_hours %></td>
              <td><%= currency_tag %><%= project.total_earnings %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-md-6">
      <h4>Least 5 Earning Projects</h4>
      <table class="table table-bordered table-hover">
        <thead class="thead-dark">
          <tr>
            <th>Name</th>
            <th>Hours Logged</th>
            <th>Total Earning</th>
          </tr>
        </thead>
        <tbody>
          <% @last_five.each do |project| %>
            <tr>
              <td><%= link_to project.name, project %></td>
              <td><%= project.total_logged_hours %></td>
              <td><%= currency_tag %><%= project.total_earnings %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
