<div class="container">
  <h1>Projects
    <%= show_create_button(@projects.model) %>
  </h1>
  <table class="table table-bordered table-hover">
    <thead class="thead-dark">
      <tr>
        <th>Name</th>
        <th>Details</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @projects.each do |project| %>
        <tr>
          <td><%= link_to project.name, project %></td>
          <td><%= project.details.slice(1..50) %>...</td>
          <td>
            <%= link_to (fa_icon 'plus', text: 'Payment'), new_project_payment_path(project), remote: true, class: "btn btn-primary btn-xs" if policy(Payment).new? %>
            <%= link_to (fa_icon 'comments'), new_project_comment_path(project), remote: true, class: "btn btn-primary btn-xs" if policy(Comment, @project).new? %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div id="modal-display"></div>
