<div class="modal fade" id="payment_modal" role="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title text-center"><%= action_name.capitalize %> Payment</h4>
      </div>
      <div class="modal-body">
        <% if action_name == 'new' %>
          <div class="payments text-center">
            <h4>Recent Payments</h4>
            <div id="payments">
              <%= render @payments %>
            </div>
            <% if @payments.present? %>
              <%= link_to "Show more", project_payments_path(@project), class: "btn btn-info" %>
            <% end %>
          </div>
        <% end %>
        <%= form_for([@project, @payment], remote: true, html: { class: "text-center" }) do |f| %>
          <div id="errors"> </div>
          <div class="row">
            <div class="form-group form-inline col-md-10">
              <%= f.label :amount %>
              <%= f.number_field :amount, step: "any", class: "form-control" %>
            </div>
            <div class="form-group col-md-10">
              <%= f.label  :payment_date, "Transaction Date" %>
              <div class='input-group date datepicker'>
                <%= f.text_field :payment_date, class: "form-control" %>
                <span class="input-group-addon">
                  <span class="glyphicon glyphicon-calendar"></span>
                </span>
              </div>
            </div>
            <div class="actions">
              <%= f.submit class: "btn btn-success", data: { disable: true } %>
            </div>
          </div>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
