<div class="container">
  <div class="user-form col-md-8 col-md-offset-2">
    <h2 class="text-center">Change your password</h2>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>
      <%= f.hidden_field :reset_password_token %>

      <div class="row">
        <div class="form-group col-md-6 col-md-offset-3">
          <%= f.label :password, "New password" %>
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %>
          <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "input form-control", required: true %>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-6 col-md-offset-3">
          <%= f.label :password_confirmation, "Confirm new password" %>
          <%= f.password_field :password_confirmation, autocomplete: "off", class: "input form-control", required: true %>
        </div>
      </div>

      <div class="row">
        <div class="col actions text-center">
          <%= f.submit "Change my password", class: "btn btn-success" %>
        </div>
      </div>
    <% end %>
