<div class="container">
  <div class="user-form col-md-8 col-md-offset-2">
    <h2 class="text-center">Edit Profile</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>

      <div class="row">
        <div class="col text-center">
          <%= user_image_tag(resource, 200) %>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-6 col-md-offset-3">
          <%= f.fields_for :attachment, resource.fetch_attachment do |attach| %>
            <%= attach.label :file, "Upload a picture" %>
            <%= attach.file_field :file, autofocus: true, class: "input form-control" %>
          <% end %>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-6 col-md-offset-3">
          <%= f.label :name %>
          <%= f.text_field :name, autofocus: true, autocomplete: "name", required: true, class: "input form-control" %>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-6 col-md-offset-3">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", required: true, class: "input form-control" %>
        </div>
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>
      </div>

      <div class="row">
        <div class="form-group col-md-6 col-md-offset-3">
          <%= f.label :password %> <i>(leave blank if you don't want to change it)</i>
          <%= f.password_field :password, autocomplete: "new-password", class: "input form-control" %>
          <% if @minimum_password_length %>
            <em><%= @minimum_password_length %> characters minimum</em>
          <% end %>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-6 col-md-offset-3">
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input form-control" %>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-6 col-md-offset-3">
          <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i>
          <%= f.password_field :current_password, autocomplete: "current-password", required: true, class: "input form-control" %>
        </div>
      </div>

      <div class="row">
        <div class="col actions text-center">
          <%= f.submit "Update", class: "btn btn-success" %>
          <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger" %>
        </div>
      </div>
    <% end %>

    <div class= "text-center">
      <%= link_to "Back", :back, class: "text-center" %>
    </div>
  </div>
</div>
